.main {
    width: 100%;
    background-color: rgb(175, 157, 99);
    
}

#cardtitle {
    
    font-size: 37px;
    
}
.title {
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.news {
    background-image: url("newsprint.jpg")
}

.inputarea {
    background-color: rgba(245, 245, 220, 0.589);
    border-radius: 8px;
    margin: 25px;
}